.authScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  gap: 1.4rem;
}

.authScreenBtn {
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: gray;
}

.songCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 2rem;
  width: clamp(360px, 50vw, 660px);
  border-radius: 10px;
  background-color: #d9d9d9;
}

.cardTitle {
  font-size: 2rem;
}

.songContainer {
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #b6b6b6;
}

.songTitle {
  font-size: clamp(1rem, 5vw, 1.3rem);
  font-family: "Outfit-semiBold", sans-serif;
}
.songContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songLeftCol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.songDetails {
  display: flex;
  flex-direction: column;
}
.songImageContainer {
  width: 40px;
}
.songImage {
  width: 100%;
}
.songArtist {
  font-size: clamp(0.8rem, 5vw, 1.1rem);
  color: var(--secondary-font-color);
}

.songAlbum {
  font-size: clamp(0.8rem, 5vw, 1.1rem);
  color: var(--secondary-font-color);
}

.concertsHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.eventsGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  min-height: 293px;
}
@media screen and (max-width: 1020px) {
  .eventsGridContainer {
    grid-template-columns: 1fr;
  }
}

.eventsItem {
  max-width: 100%;
  padding: 20px;
  background-color: #bf9dff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
}

.eventsDate {
  border-radius: 10px;
  text-align: center;
  width: 80px;
  padding: 10px;
  background-color: #9963ff;
  font-size: 1.8rem;
  font-family: "Outfit-semiBold", sans-serif;
}

.eventsCity {
  font-size: clamp(1.2rem, 5vw, 1.4rem);
  font-family: "Outfit-semiBold", sans-serif;
}

.eventsTimeVenue {
  font-size: clamp(0.8rem, 5vw, 1rem);
  margin-top: 10px;
  color: #474747;
}

.credits {
  display: flex;
  align-items: center;
  gap: 4px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.songChangeBtn {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #d9d9d9;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.songChangeBtn:hover {
  background-color: #b6b6b6;
}
